@model QuirkyBookRental.Models.Genre
@{
    ViewBag.Title = "Delete";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();
    <div>
        <h3>Are you sure you want to delete this genre?</h3>
        <hr />
        <div class="form-border">
            <fieldset disabled>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>
            </fieldset>
        </div>


    </div>
        <br />

        <div>
            @Html.Partial("_BackToListButtonPartial")
            <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
        </div>
}
